.regular {
    border: 1px solid var(--dark-field-border);
}

.regular:focus {
    border: 1px solid var(--dark-default-bg);
}

.disabled {
    border: 1px solid var(--dark-field-border-disabled);
    color: var(--dark-text-disabled);
}

.default {
    background-color: var(--dark-active);
    border: 1px solid var(--dark-active);
}

.default:focus {
    border: 1px solid var(--dark-default-bg);
}

button {
    padding: 0 var(--default-padding-l);
    height: calc(2 + var(--default-element-height));
    background-color: var(--dark-default-bg);
    border-radius: var(--border-radius-l);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

button:focus {
    outline: 2px solid var(--dark-active);
}