.lowlight > * {
    color: var(--text-disabled);
}

.markdownContainer {
    display: flex;
    flex-direction: column;
}

.markdownContainer > *:first-child {
    margin-top: 0;
}

.markdownContainer > * {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

.markdownContainer > *:last-child {
    margin-bottom: 0;
}

.markdownContainer h1 {
    margin: 20px 0;
}

.markdownContainer h2 {
    margin: 18px 0;
}

.markdownContainer h3 {
    margin: 16px 0;
}

.markdownContainer h4 {
    margin: 14px 0;
}

.markdownContainer h5 {
    margin: 12px 0;
}

.markdownContainer h6 {
    margin: 10px 0;
}

/* Text */
.markdownContainer p {
    margin: 10px 0;
}

.markdownContainer b, .markdownContainer strong {
    margin: 2px 0;
}

.markdownContainer i, .markdownContainer em {
    margin: 2px 0;
}
/* Blockquote */
.markdownContainer blockquote {
    margin: 10px 0;
    border-radius: var(--border-radius);

    border-left: 4px solid var(--chat-color);
    padding-left: var(--default-spacing);
    font-style: italic;
}

/* Listen */
.markdownContainer ul, .markdownContainer ol {
    margin: 10px 0;
    padding-left: 20px;
}

.markdownContainer li {
    margin: 5px 0;
}

/* Code */
/* Stil für Inline-Code */
.markdownContainer code {
    background-color: var(--code-accent);
    border-radius: var(--border-radius);
    padding: 2px 4px;
    font-family: monospace;
}

/* Stil für Block-Code */
.markdownContainer pre {
    background-color: var(--dark-accent);
    border: 1px solid var(--code-accent);
    border-radius: var(--border-radius-l);
    padding: var(--default-spacing);
    overflow-x: auto;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-wrap: unset;
}

.markdownContainer pre code {
    background-color: var(--dark-accent);
    padding: 0;
}

/* Links */
.markdownContainer a {
    margin: 2px 0;
}

/* Bilder */
.markdownContainer img {
    margin: 10px 0;
}

/* Tabellen */
.markdownContainer table {
    margin: 20px 0;
    border-collapse: collapse;
}

.markdownContainer th, .markdownContainer td {
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Horizontale Linie */
.markdownContainer hr {
    margin: 20px 0;
}

/* Durchgestrichen */
.markdownContainer s, .markdownContainer del {
    margin: 2px 0;
}