.inputField {
    background-color: var(--default-bg);
    border: 1px solid var(--field-border);
    min-height: var(--default-element-height);
    padding: var(--default-padding-s) var(--default-padding);
    flex-grow: 1;
    resize: none;
}

.inputField:focus {
    outline: 2px solid var(--active);
    border: 1px solid var(--default-bg);
    border-radius: var(--border-radius);
}

.inputField:disabled {
    background-color: var(--field-bg-disabled);
    border: 1px solid var(--field-border-disabled);
}

.inputField:invalid {
    border: 1px solid var(--default-bg);
    outline: 2px solid var(--text-error);
    border-radius: var(--outline-border-radius);
}