.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;

    gap: var(--default-spacing);
}

.interact {
    display: flex;
    flex-direction: column;
    gap: var(--default-spacing);
    max-height: 100%;
}

.messageContainer {
    display: flex;
    background-color: var(--dark-field-bg);
    border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 var(--border-radius-xl);
    padding: var(--default-spacing);
    max-width: 100%;
    flex: 1;
    overflow: hidden;
}

.message {
    overflow-wrap: break-word;
    flex: 1;
    padding-right: var(--default-spacing);
    overflow-y: scroll;
}

.avatar {
    height: 128px;
    width: 128px;
}