.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    gap: var(--default-spacing);
    padding: var(--default-spacing);
}

.messageContainer {
    background-color: var(--dark-field-bg);
    border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 var(--border-radius-xl);
    padding: var(--default-spacing);
    max-width: 62%;
    height: 100%;
}

.message {
    overflow-wrap: break-word;
    height: 100%;
    padding-right: var(--default-spacing);
    overflow-y: auto;
}

.avatar {
    height: 128px;
    width: 128px;
}