.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.textInput {
    flex-grow: 1;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}