.userMessage {
    padding: var(--default-padding-l);
    background-color: var(--dark-field-bg);
    border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 var(--border-radius-xl);
    justify-self: end;
    max-width: 62%;

    overflow-wrap: break-word;
}

.userMessageContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.agentMessageContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: start;
    margin-right: 1rem;
}

.avatar {
    border-radius: 10000px;
    height: 32px;
    width: 32px;
    border: 2px solid var(--dark-field-bg);
}