.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: var(--default-spacing);
    overflow-y: scroll;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--default-spacing);
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 var(--default-spacing);
}