.userMessageContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.userMessage {
    padding: var(--default-spacing);
    background-color: var(--dark-field-bg);
    border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 var(--border-radius-xl);
    justify-self: end;
    max-width: 62%;
}

.message {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.agentMessageContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: start;
    margin-right: 1rem;
}

.avatarIconWidth {
    width: 32px;
}

.avatarIcon {
    height: 32px;
    border-radius: 10000px;
    border: 2px solid var(--dark-field-bg);
}